.header {
	.top-header {

	}
	.header-main {
		padding-top: 1rem;
		padding-bottom: 1rem;
		.container {
			.row {
				.header-left {
					.region-header-left {

					}
				}
				.header-right {
					.header-top-right {
						margin-bottom: 1rem;
						.region-header-top-right {
							display: flex;
							justify-content: flex-end;
						}
					}
					.header-bottom-right {
						.region-header-bottom-right {

						}
					}
				}
			}
		}
	}
}